.Footer {
    width: 100vw;
    height: calc(156 * var(--unit));
    background: var(--b2);
    display: flex;
    flex-direction: column;

    .footerPrimary {
        width: calc(1232 * var(--unit));
        height: calc(40 * var(--unit));
        margin: calc(24 * var(--unit)) auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 400 calc(16 * var(--unit)) "IBM Plex Sans Thai";
        color: var(--b8);
    }

    .footerPrimary span{

        font: 400 calc(16 * var(--unit)) "Satoshi";
    }

    .footerSecondary{
        width: calc(1232 * var(--unit));
        height: calc(40 * var(--unit));
        margin:  0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 400 calc(16 * var(--unit)) "Satoshi";
        color: var(--b8);

    }
}